.archive #post-content img.attachment-300-wide {
    margin: 0;
    width: 100%;
}

.archive .post-header h2 {
    margin-top: 10px;
}

.widget_vf_widget {
    border: 1px solid #999;
    width: 300px;
}

.widget_vf_widget h3 {
    background-color: #ff7f27;
    padding: 3px 10px;
    color: white;
    border-bottom: 0;
}

.widget_vf_widget h3 p {
    font-size: 10px;
    font-weight: normal;
    margin: 5px 0 0 0;
}

.widget_vf_widget h3 img {
    max-width: 300px;
    margin: -3px -10px;
}

.widget_vf_widget h4 a.read-more {
    margin: 20px;
}

.type-vertical-focus-item .entry .widget_text {
    margin-left: 71px;
}
